requests
setuptools
colorama
bs4 
selenium
discord
discum
pyinstaller
qrcode
python-http-client
charset_normalizer
2captcha-python
beautifulsoup4
pyperclip
pypiwin32
packaging
keyboard
colored
PyNaCL
easygui
tasksio
colour
pillow
psutil
emoji
httpx
tqdm
websocket
Cipher
Popen
login
pipe
fore
aes
loads
pystyle
pyautogui
pyfadecolor
